//Gör variabler
$primary-color: #191919;
$secondary-color: #1A9959;
$heading-color: #414141;

//Font family
$primary-family: 'Noto Sans';

//Font sizes

$H1-fontsize: 32px;
$H2-fontsize: 27px;
$H4-fontsize: 22px;
$H5-fontsize: 20px;
$H6-fontsize: 18px;
$body-fontsize: 16px;
$CTA-fontsize: 13px;
$figcapture-fontsize: 14px;

//Viewports
$viewport-desktop: 1200px;