@import 'sass/varibales';
*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    color: $primary-color;
    line-height: 1.2;
}
a{
    text-decoration: none;
    color: $secondary-color;
}
img{
    width: 100%;
    display: block;
}
ul{
    list-style: none;
}

header{
    
    #top{
        padding: 1rem 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $CTA-fontsize;
        #logo{
           width: 34px; 
           height: 34px;
           background-color: black;
        }
        #sign{
            
            .get-started{
                border: 1px solid $secondary-color;
                border-radius: 5px;
                padding: 0.6875rem 1.125rem;
                margin-left: 2.1875rem ;
            }
        }
    }
}